<span class="title">{{await concept.defaultPrefLabel}}</span>
{{#if showUri}}<span class="uri">{{concept.decodedUri}}</span>{{/if}}
{{#if showCodes}}
  <div class="codes">
    {{#each visibleCodes as |code|}}
      <div class="labeled {{code.name}}">
        <span class="label">{{code.name}}</span>
        <span class="value">{{get concept code.data}}</span>
      </div>
    {{/each}}
  </div>
{{/if}}
<div class="description">
  {{concept.defaultDescription}}
</div>

{{#if (await showAltLabels)}}
  <div class="altlabels block">
    <div class="block-title">
      Non-preferred terms
    </div>
    <div class="block-content">
      {{#each (await concept.defaultAltLabels) as |altLabel|}}
        <span>{{altLabel.literalForm}}</span>
      {{/each}}
    </div>
  </div>
{{/if}}

{{#if (await showHiddenLabels)}}
  <div class="altlabels block">
    <div class="block-title">
      Hidden terms
    </div>
    <div class="block-content">
      {{#each (await concept.defaultHiddenLabels) as |hiddenLabel|}}
        <span>{{hiddenLabel.literalForm}}</span>
      {{/each}}
    </div>
  </div>
{{/if}}

{{#if fullDetail}}
  {{#if (await showOptionalSkills)}}
    <div class="optionalSkills block">
      <div class="block-title">
        Optional Skills
      </div>
      <div class="block-content">
        {{#if (is-pending optionalSkillLabels) }}
          <div class="loading">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>
        {{else}}
          {{#each (await optionalSkills) as |skill|}}
            <span>{{await skill.defaultPrefLabel}}</span>
          {{/each}}
        {{/if}}
      </div> 
    </div>
  {{/if}}
  {{#if (await showEssentialSkills)}}
    <div class="essentialSkills block">
      <div class="block-title">
        Essential Skills
      </div>
      <div class="block-content">
        {{#if (is-pending essentialSkillLabels) }}
          <div class="loading">
            <i class="fa fa-circle-o-notch fa-spin"></i>
          </div>
        {{else}}
          {{#each (await essentialSkills) as |skill|}}
            <span>{{await skill.defaultPrefLabel}}</span>
          {{/each}}
        {{/if}}
      </div>
    </div>
  {{/if}}
{{/if}}
{{#if (await hasDetail)}}
  <div class="btn-toggle-more" {{action "toggleDetail"}}>
    <i class="fa fa-angle-down"></i>
  </div>
{{/if}}

