{{#if (await showSkills)}}
  <div class="skills {{if (await shadowSkills) " shadowed" " open"}}">
    <div class="section__title" {{action 'showElements'}}>
      <h2><span>{{title}}<span class='counter'>{{skillNumber}}</span></span></h2>
    </div>
    <div>
      {{#if (is-pending skillsToDisplay) }}
        <div class="loading">
          <i class="fa fa-circle-o-notch fa-spin"></i>
        </div>
      {{else}}
        {{#if showSkillList}}
          <ul class="tags skills">
            {{#each (await skillsToDisplay) as |skill|}}
              <li {{action "handleSkillClick" skill}}>{{await skill.defaultPrefLabel}}<span class='delete'>-</span></li>
            {{/each}}
          </ul>
          {{popup-component buttonId=popupButtonId conceptScheme=conceptScheme}}
        {{/if}}
      {{/if}}
    </div>
    {{#if (await shadowSkills)}}
      {{#if showSkillList}}
        <div class="btn-toggle-more" {{action "toggleDetail"}} title= {{toggleTooltip}}>
          <span></span>
          <span></span>
          <span></span>
        </div>
        {{popup-component buttonId=popupButtonId conceptScheme=conceptScheme}}
      {{/if}}
    {{/if}}
  </div>
{{/if}}
